* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(315deg, #FFFFFF 0%, #D7E1EC 74%);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
}

.datetime-header {
    text-align: center;
    font-size: 1.25rem;
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: #D6A458;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    line-height: 150%;
    position: fixed;
    width: 95%;
}

#weekday,
#time,
#day {
    margin: 0 8px;
}

.return-home {
    position: absolute;
    left: 10vw;
    padding: 4px 8px;
    border-radius: 50%;
    transition: .25s all ease;
    color: inherit;
}

.fa-virus {
    position: absolute;
    right: 10vw;
    visibility: hidden;
    padding: 8px;
    border-radius: 50%;
    transition: .25s all ease;
}

.return-home:hover,
.fa-virus:hover {
    background-color: #B48236;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.navigation {
    background-color: #D6A458;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: auto;
    height: 100px;
    border-radius: 50%;
    transition: .25s all ease;
}

.logo:hover {
    background-color: #B48236;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
}

.items-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.item {
    display: block;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    transition: .5s all ease;
    margin: 16px;
    text-decoration: none;
    color: inherit;
}

.item:hover {
    background-color: #B48236;
    cursor: pointer;
}

.item:hover .items-image {
    transform: scale(75%);
}

.items-image {
    width: 50px;
    height: auto;
    vertical-align: middle;
    transition: .5s all ease;
}

.items-text {
    text-align: center;
    margin-left: 8px;
    line-height: 150%;
}

.show-more {
    display: none !important;
}

main {
    background-color: #D6A458;
    border-radius: 4px;
}

.layout-fixer {
    display: flex;
    align-items: center;
}

.page-header {
    font-family: 'Playfair Display', cursive;
    text-align: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    padding: 24px 16px;
}

.page {
    background-color: #D6A458;
    padding: 64px 0;
}

.page-description {
    padding: 8px 32px;
    line-height: 200%;
}

.page-image {
    width: 100px;
    height: auto;
    margin: 32px 0;
    position: relative;
    left: 160px;
}

.page-footer {
    border-top: 4px solid rgba(0, 0, 0, 0.3);
    background-color: #D6A458;
    text-align: center;
    padding: 24px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.link {
    color: inherit;
}

.footer {
    line-height: 150%;
    text-align: center;
    font-size: .75rem;
    margin: 8px 0; 
    padding: 24px;
    border-radius: 4px;
    background-color: #D6A458;
}

@media(max-width: 1350px) {
    .page-image {
        left: 80px;
    }
}

@media(max-width: 1250px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .items-text {
        margin: 8px 4px 0 4px;
    }

    .layout-fixer {
        flex-direction: column;
    }

    .page-description {
        text-align: center;
    }

    .page-image {
        left: 0;
    }
}

@media(max-width: 975px) {
    html {
        font-size: 16px;
    }
    
    .coronavirus {
        display: none;
    }

    .fa-virus {
        visibility: visible;
    }
}

@media(max-width: 825px) {
    html {
        font-size: 14px;
    }

    .about-us, 
    .news {
        display: none;
    }

    .show-more {
        display: flex !important;
    }    
}

@media(max-width: 580px) {
    .fa-home,
    .fa-virus {
        visibility: hidden;
    }
    .contact {
        display: none;
    }
}
