---
import Base from "../layouts/Base.astro"; 
import "../styles/styles.css";
---

<Base 
    title="Aktualności - FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej"
    path="aktualnosci"
    description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic Poznaj naszą ofertę na sezon 2023!"
>
    <h1 class="heading">Poznaj ofertę skupu grzybów i jabłek!</h1>
    <section class="intro-container">
        <section class="intro">
            <p class="p">
                Niedługo rozpoczniemy skup grzybów i jabłek w 
                sezonie 2023. <br> Serdecznie zapraszamy! <br> 
            </p>
            <p class="p">
                W celu uzyskania informacji o cenie oraz wymaganiach
                dotyczących jakości towaru zapraszamy do kontaktu
                telefonicznego.
            </p>
            <p class="p">
                Obecnie posiadamy do wynajęcia poddasze użytkowe <br>
                o powierzchni 180 m<sup>2</sup>, odpowiednie na magzyn
                rzeczy lekkich. <br>
                Zainteresowanych zapraszamy do kontaktu.
            </p>
        </section>
        <img src="images/aktualnosci.webp" alt="" class="hero">
    </section>
</Base>
