---
import Base from "../layouts/Base.astro"; 
import "../styles/styles.css";
---

<Base 
    title="Aktualności - FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej"
    path="aktualnosci"
    description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic Poznaj naszą ofertę na sezon 2023!"
>
    <h1 class="heading">Poznaj ofertę skupu grzybów i jabłek!</h1>
    <section class="intro-container">
        <section class="intro">
            <p class="p" tabindex="0">
                Zakończyliśmy skup jabłek w sezonie 2023.
            </p>
            <p class="newline">
                Nadal skupujemy grzyby świeże t.j.: borowik szlachetny, kolczak 
                obłączasty, lejkowiec dęty, pieprznik trąbkowy, siedzuń sosnowy.
            </p>
            <p class="newline">
                Prowadzimy również skup borowika suszonego pozaklasowego.
            </p>
            <p class="p">Serdecznie zapraszamy!  </p>
            <p class="p" tabindex="0">
                W celu uzyskania informacji o cenie oraz wymaganiach
                dotyczących jakości towaru zapraszamy do kontaktu
                telefonicznego.
            </p>
            <p class="newline" tabindex="0">
                Posiadamy do wynajęcia poddasze użytkowe
                o powierzchni 180 m<sup>2</sup>, odpowiednie na magzyn
                rzeczy lekkich.
            </p>
            <p class="newline">Jeśli jesteś zainteresowany - dzwoń, pisz!</p>
        </section>
        <img src="images/aktualnosci.webp" alt="Stos czerwonych jabłek" class="hero" loading="lazy">
    </section>
</Base>
