---
import Base from "../layouts/Base.astro";
import "../styles/styles.css";
import { Image } from "astro:assets";
import img from "../../public/images/aktualnosci.webp";
---

<Base
  title="Aktualności - FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej"
  path="aktualnosci"
  description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic Poznaj naszą ofertę na sezon 2023!"
>
  <h1 class="heading">Poznaj ofertę skupu grzybów i jabłek!</h1>
  <section class="intro-container">
    <section class="intro">
      <p
        class="p">
        Rozpoczęliśmy skup jabłek przemysłowych <br>oraz 
        grzybów w sezonie 2024.
    </p>
      <p class="newline">
        Skupujemy grzyby świeże t.j.: borowik szlachetny, kolczak obłączasty,
        lejkowiec dęty, pieprznik trąbkowy, siedzuń sosnowy.
      </p>
      <p class="newline">
        Prowadzimy również skup borowika suszonego pozaklasowego.
      </p>
      <p class="p">Serdecznie zapraszamy!</p>
      <p class="p">
        W celu uzyskania informacji o cenie oraz wymaganiach dotyczących jakości
        towaru zapraszamy do kontaktu telefonicznego.
      </p>
      <p class="newline">
        Posiadamy do wynajęcia <b>poddasze użytkowe o powierzchni 180 m<sup>2</sup></b>.
      </p>
      <p class="newline">Jeśli jesteś zainteresowany - dzwoń, pisz!</p>
    </section>
    <Image
      src={img}
      alt="Stos czerwonych jabłek"
      class="hero"
      loading="eager"
    />
  </section>
</Base>
