---
import Base from "../layouts/Base.astro";
import "../styles/styles.css";
import { Image } from "astro:assets";
import img from "../../public/images/aktualnosci.webp";
---

<Base
  title="Aktualności - FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej"
  path="aktualnosci"
  description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic Poznaj naszą ofertę na sezon 2023!"
>
  <h1 class="heading">Poznaj ofertę skupu grzybów i jabłek!</h1>
  <section class="intro-container">
    <section class="intro">
      <p class="p">Zakończyliśmy skup jabłek grzybów w sezonie 2024.</p>
      <p class="p">Dziękujemy naszym klientom i zapraszamy za rok.</p>
      <p class="p">
        Posiadamy do wynajęcia <b
          >poddasze użytkowe o powierzchni 180 m<sup>2</sup></b
        >.
      </p>
      <p class="p">Jeśli jesteś zainteresowny - dzwoń, pisz!</p>
    </section>
    <Image
      src={img}
      alt="Stos czerwonych jabłek"
      class="hero"
      loading="eager"
    />
  </section>
</Base>
