---
import Base from "../layouts/Base.astro"; 
import "../styles/styles.css";
import "../styles/media.css";
---

<Base 
	title="FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej" 
	path=""
	description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic. Oferujemy wynajem powierzchni magazynowych i biurowych w przystępnych cenach. Sprawdź naszą ofertę!"
>
	<h1 class="heading">Witamy na stronie www FHU Hyziak!</h1>
	<section class="intro-container">
		<section class="intro">
			<p class="p" tabindex="0">
				Prowadzimy skup grzybów i jabłek. <br>
				Dysponujemy też magazynami pod wynajem. <br>
				Zapraszamy do zapoznania się z naszą ofertą. <br>
				Zachęcamy do skorzystania z menu powyżej.
			</p>
			<button tabindex="-1">
				<a href="/kontakt" class="link btn" rel="noopener noreferrer">
					Skontaktuj się z nami
				</a>
			</button>
		</section>
		<img 
			src="images/podworko.webp" 
			alt="Siedziba FHU Hyziak w Ropicy Polskiej" 
			class="hero-index" 
			loading="lazy"
		>
	</section>
</Base>
