---
import Base from "../layouts/Base.astro"; 
import "../styles/styles.css";
---

<Base 
	title="FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej" 
	path=""
	description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic. Oferujemy wynajem powierzchni magazynowych i biurowych w przystępnych cenach. Sprawdź naszą ofertę!"
>
	<h1 class="heading">Witamy na stronie www FHU Hyziak!</h1>
	<section class="intro-container">
		<section class="intro">
			<p class="p">
				Prowadzimy skup grzybów i jabłek. <br>
				Dysponujemy też magazynami pod wynajem. <br>
				Zapraszamy do zapoznania się z naszą ofertą. <br>
				Zachęcamy do skorzystania z menu powyżej.
			</p>
			<button>
				<a href="/kontakt" class="link btn">
					Skontaktuj się z nami
				</a>
			</button>
		</section>
		<img src="images/podworko.webp" alt="" class="hero-index">
	</section>
</Base>
