---
import Base from "../layouts/Base.astro"; 
import "../styles/icons.css";
import "../styles/styles.css";
import Review from "../components/Review.astro";
---

<Base
    title="Opinie - FHU Hyziak - Skup grzybów i jabłek w Ropicy Polskiej"
    path="opinie"
    description="Prowadzimy skup grzybów i jabłek w Ropicy Polskiej k. Gorlic. Dowiedz się co mówią o nas klienci!"
>
    <h1 class="heading">Co o nas mówią?</h1>
    <Review
        url="https://ui-avatars.com/api/?name=Irena+Potykanowicz&background=CB3234&rounded=true&color=FFF&size=128"
        alt="IP"
        name="Irena Potykanowicz"
        contents="Sympatyczny młody człowiek z żoną, warto ich odwiedzić i zrobić zakupy"
    />
    <Review
        url="https://ui-avatars.com/api/?name=Monika+Sosna+Cempa&background=606E8C&rounded=true&color=FFF&size=128"
        alt="MSC"
        name="Monika Sosna-Cempa"
        contents="Polecam. Super miejsce."
    />
    <Review
        url="https://ui-avatars.com/api/?name=Jadwiga+Skrzek&background=F39F18&rounded=true&size=128"
        alt="JS"
        name="Jadwiga Skrzek"
        contents="Polecam w 100%."
    />
    <Review
        url="https://ui-avatars.com/api/?name=Robert+Sowa&background=0E294B&color=FFFFFF&rounded=true&size=128"
        alt="RS"
        name="Robert Sowa"
        contents=""
    />
    <Review
        url="https://ui-avatars.com/api/?name=Robert+Karaś&background=7E7B52&rounded=true&color=FFF&size=128"
        alt="RK"
        name="Robert Karaś"
        contents=""
    />
    <Review
        url="https://ui-avatars.com/api/?name=Andrzej+Stupaj&background=193737&color=FFFFFF&rounded=true&size=128"
        alt="AS"
        name="Andrzej Stupaj"
        contents=""
    />
    <Review 
        url="https://ui-avatars.com/api/?name=Piotr+Obszarski&background=b33822&rounded=true&color=FFF&size=128"
        alt="PO"
        name="Piotr Obszarski"
        contents=""
    />
    <Review 
        url="https://ui-avatars.com/api/?name=Adrianna+Cempa&background=413b8b&rounded=true&color=FFF&size=128"
        alt="AC"
        name="Adrianna Cempa"
        contents=""
    />
</Base>
