/* * Contact form selectors. */

html {
    --text-color: rgba(0, 0, 0, 0.8);
    --soft-black: rgba(0, 0, 0, 0.3);
    --main-color: #D6A458;
    --darkened-main-color: #C59347;
}

.contact-info-tile {
    color: var(--text-color, lightgrey);
    padding: 15px;
    border-radius: 5px;

    box-shadow: 0px 0px 25px 2.5px var(--soft-black, lightgrey);
    background-color: var(--darkened-main-color, #C59347);
}

.contact-info-container {
    font-size: 1.1rem;
    line-height: 200%;

    align-self: flex-start;
}

#google-maps-container {
    border-radius: 5px;
    border: none;
    width: 250px;

    box-shadow: 0px 0px 25px 2.5px var(--soft-black, lightgrey);
}

/* * Minified contact form stylesheet: #contact-form-tile { color: var(--text-color, lightgrey); padding: 15px; border-radius: 5px; background-color: var(--darkened-main-color, #C59347); box-shadow: 0px 0px 25px 2.5px var(--soft-black, lightgrey); margin: 0px 2.5px; display: flex; flex-direction: column; align-items: center; } .contact-form-text-element { background-color: #DFDFDF; border: none; border-radius: 5px; width: 125px; padding: 5px; margin: 10px 0px; font-family: 'Comfortaa', sans-serif; } #contact-form-bigger-text-element { background-color: #DFDFDF; border: none; border-radius: 5px; padding: 5px; margin: 5px 0px; resize: none; font-family: 'Comfortaa', sans-serif; } #contact-form-button { background-color: #83D475; border: none; border-radius: 5px; padding: 10px; margin: 10px 0px; font-family: 'Comfortaa', sans-serif; transition: .5s all ease; user-select: none; } #contact-form-button:hover { background-color: #61B253; box-shadow: 0px 0px 25px 2.5px var(--soft-black, lightgrey); cursor: pointer; } */
