/* * Media Queries. */

html {
    --darkened-main-color: #C59347;
}

@media (hover: none) {
    .navigation-item-container:hover {
        border: 3px solid transparent;
        border-radius: inherit;
        box-shadow: inherit;

        cursor: inherit;
    }

    #special-navigation-item-container:hover {
        border: 3px solid transparent;
        border-radius: inherit;
        box-shadow: inherit;

        cursor: inherit;
    }
}

@media (max-width: 1350px) {
    .header-icon {
        left: -25vw;
    }
}

@media (max-width: 1050px) {
    html {
        font-size: 16px;
    }

    .header-icon {
        left: -20vw;
    }

    .navigation-image {
        height: auto;
        width: 55px;
    }
}

@media(max-width: 1000px) {
    html {
        font-size: 14px;
    }

    #logo {
        height: 100px;
    }
}

@media(max-width: 900px) {
    html {
        font-size: 12px;
    }

    #logo {
        height: 75px;
    }

    .navigation-image {
        height: 40px;
        width: auto;
    }

    #special-navigation-image {
        height: 40px;
        width: auto;
    }

    #site-content-image-container {
        padding: 15px;
        margin: 15px;
    }

    #site-content-image {
        width: 125px;
    }
}

@media (max-width: 850px) {
    #logo {
        height: 70px;
    }

    .navigation-item-container:hover {
        border: 3px solid transparent;
        border-radius: inherit;
        box-shadow: inherit;

        cursor: pointer;
    }

    #special-navigation-item-container:hover {
        border: 3px solid transparent;
        border-radius: inherit;
        box-shadow: inherit;

        cursor: pointer;
    }

    .navigation-item {
        bottom: 0px;
        padding: 10px;
        transition: .5s all ease;
    }

    .navigation-item:hover {
        background-color: var(--darkened-main-color, #C59347);
    }

    .navigation-image {
        display: none;
    }

    #special-navigation-image {
        display: none;
    }
}

@media (max-width: 825px) {
    #logo {
        height: 50px;
    }

    .navigation-item-container {
        margin: 0px;
    }
}

@media(max-width: 750px) {
    .navigation-item-container {
        margin: -10px;
    }
}

@media(max-width: 700px) {
    .navigation-item-container {
        margin: -20px;
    }

    #special-navigation-item-container {
        margin: -20px;
    }

    #site-content-image-container {
        padding: 10px;
        margin: 10px;
    }

    #site-content-image {
        width: 100px;
    }
}

@media (max-width: 650px) {
    .navigation-item {
        box-shadow: 5px 5px 1px var(--soft-black, lightgrey);
    }
}

@media (max-width: 625px) {
    #logo {
        height: 75px;
    }

    .responsive-navigation-item-container {
        flex-direction: column;
    }

    .navigation-item {
        margin: 20px;
    }
}

@media (max-width: 575px) {
    .header-icon {
        left: -15vw;
    }

    .navigation-item {
        padding: 10px 5px;
    }

    #site-content-description {
        flex-direction: column;
    }

    #site-content-description-paragraph {
        margin: 20px;
    }
}

@media (max-width: 475px) {
    .header-icon {
        left: -5vw;
    }
}

@media (max-width: 400px) {
    #date-time-header {
        font-size: 1rem;
    }

    #navigation {
        flex-direction: column;
    }

    #navigation-list {
        justify-content: center;
    }

    .navigation-item {
        padding: 10px;
    }
}

@media (max-width: 300px) {
    #date-time-header {
        font-size: 0.75rem;
    }

    #google-maps-container {
        width: 200px;
    }
}
