---
const { url, alt, name, contents } = Astro.props;
---

<section class="review-container" tabindex="0">
    <section class="review">
        <section class="meta">
            <img src={url} class="pic" alt={alt} loading="lazy"/>
            <section class="column">
                <span class="reviewer">{name}</span>
                <section class="rating">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                </section>
            </section>
        </section> 
        <p class="contents">{contents}</p>
    </section>
</section>
