@import 'module' 

::-webkit-scrollbar
    width: $unit * 3/2
    background: $white

::-webkit-scrollbar-thumb
    background-color: $primary
    border: 2px solid $black 

    &:hover
        background-color: $black
        
*
    @include reset

    &:focus
        outline-offset: $unit * 1/2

html 
    @include site-defaults

.header
    @include header 

.menu
    @include menu

.menu-item
    @include menu-item 

.content
    display: flex 
    background: $primary

.gallery
    flex-wrap: wrap
    justify-content: center
    padding: $unit * 2 0

.contact
    justify-content: space-evenly
    padding: $unit * 4 0 

.reviews
    flex-direction: column 
    padding: $unit * 4 0 $unit * 4 0
    align-items: center

.heading
    text-align: center
    padding: $unit * 2 $unit * 3 
    margin-top: $unit * 3

.intro, .hero, .contact-info
    width: 50%

.intro
    padding-bottom: $unit * 2

.google-maps
    display: flex
    justify-content: center

.text
    padding: $unit $unit * 2
    line-height: 200%

.index-intro
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: $unit * 2

.contact-button
    @include button 

.button 
    background-color: transparent
    border-color: transparent 
    margin-top: $unit * 4

.image
    margin: $unit * 2 
    border-radius: $unit 
    border: 1px solid $black

.review
    @include review

.review-image
    margin: 0 $unit * 2

.review-name, .review-stars, .review-text
    margin: $unit * 1/2 0
    
.contact-info
    @include contact-tile

.contact-data
    padding: $unit * 1/2 $unit 

.link
    color: inherit
    text-decoration: none

.map 
    width: 400px
    height: 300px
    border: 1px solid $black  
    border-radius: $unit * 2

.footer 
    @include footer 

// Responsiveness: 

@media (max-width: 1500px)
    .news, .about-us, .index
        flex-direction: column
        align-items: center

    .intro, .hero
        width: 100%

    .hero
        margin-top: $unit * 2

@media (max-width: 1000px) 
    .review
        flex-direction: column
        width: 50vw

    .review-image
        width: $unit * 4
        height: $unit * 4
        margin: $unit * 2 auto

    .review-name
        text-align: center

    .review-content
        display: flex
        flex-direction: column
        align-items: center

    .contact
        flex-direction: column
        align-items: center
    
    .contact-info
        margin-bottom: $unit * 2

@media (max-width: 800px)
    .review
        width: 80vw

@media (max-width: 500px)
    .contact-info
        width: 280px

    .map
        width: 280px
        height: 210px
